<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="baker_arm_transmission" params="prefix">

    <transmission name="${prefix}prismatic_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}prismatic_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}prismatic_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
  </xacro:macro>

</robot>
