<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="baker_gripper_transmission" params="prefix">

    <transmission name="${prefix}big_finger_left_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}big_finger_left_join">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}big_finger_left_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}big_finger_right_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}big_finger_right_join">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}big_finger_right_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>    

    <transmission name="${prefix}small_finger_left_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}small_finger_left_join">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}small_finger_left_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>   

    <transmission name="${prefix}small_finger_right_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}small_finger_right_join">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <hardwareInterface>VelocityJointInterface</hardwareInterface>
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}small_finger_right_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
  </xacro:macro>

</robot>
